

.breadcrumb-item+.breadcrumb-item::before{
    content:"|";
    color:#fff;
}

.gender-select {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    height: 40px;
    border-radius: 0px;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: 5px;
    font-size: 14px;
    width: 101%;
    color: #495057 !important;
}
.form-group{
    margin-bottom:20px;
}
.form-group label{
    margin-bottom: 2px;
}
.terms-conditions{
    font-size: 15px;
}

button.submit{
    background: #fd9917;
    border: 1px solid #fd9917;
}

.add-remove-cc-div{
    height: 30px;
    width: 30px;
    background: orange;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    box-shadow: 1px 1px 3px #0b4a72;
}

@media (max-width:450px){
    .p-mobile-0{
        padding:0px !important;
    }
}