body {
  margin: 0;
  font-family: roboto,Questrial,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: roboto,Questrial,Arial,sans-serif;
}
*{ box-sizing: border-box}